<div class="container"
     style = "
     width: 1156px;
     height: 576px;
">
    <div class="html-container"
         style="position: absolute; overflow: hidden;">
        <div id="loader">Загрузка данных...</div>
        <svg width="1156"
             height="576"
             id="d3-container-svg"
             style="position: absolute; overflow: hidden;">
        </svg>
        <canvas width="1156"
                height="576"
                id="d3-container">
        </canvas>
    </div>
</div>